ErrorDocument 403 /errors/403.html
ErrorDocument 404 /index.php

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.matiboux\.net$
RewriteRule ^/?$ "http\:\/\/matiboux\.net\/" [R=301,L]

DirectoryIndex index.php index.html