/* Style by Matiboux for KeyGen */
/* Copyright Matiboux 2014 */

body {
	background-color: #e2e2e2;
	font-family: Arial;
	color: #444;
}
a,
a:visited {
	text-decoration: none;
	color: #0084b4;
}
a:hover {
	text-decoration: underline;
}
#container {
	width: 320px;
	padding: 0;
	margin: auto;
}
#container * {
	margin: 0;
}
#container h1 {
	text-align: center;
}
#container h1 a {
	color: #000;
}
#container h2 {
	text-align: center;
	color: #777;
}
#container .error,
#container .info,
#container .tips {
	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,.13);
	padding: 12px;
	margin: 20px 0 0;
	font-size: 13px;
}
#container .error {
	border-left: 4px solid #dd3d36;
}
#container .info {
	border-left: 4px solid #7ad03a;
}
#container .tips {
	border-left: 4px solid #0084b4;
}
#container form,
#container .terms,
#container .error_404 {
	background-color: #fff;
	margin: 20px 0 0;
	box-shadow: 0 2px 4px rgba(0,0,0,.13);
}
#container form {
	border-left: 4px solid #efd807;
	padding: 26px 24px 52px;
}
#container .terms {
	border-left: 4px solid #efd807;
	padding: 26px 24px 26px;
}
#container .error_404 {
	border-left: 4px solid #efd807;
	padding: 26px 24px 26px;
}
#container .view img {
	width: 100%
}
#container form p label {
	color: #777;
	font-size: 14px;
}
#container form input[type=file] {
	background-color: #f1f1f1;
	font-size: 13px;
	line-height: 1;
	width: 100%;
	padding: 3px;
	margin: 2px 6px 16px 0;
}
#container form button[type=submit] {
	float: right;
	padding: 10px 14px;
	background-color: #1e8cbe;
	border-color: #0074a2;
	box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
	color: #fff;
}
#container .terms h2 {
	text-align: center;
	color: black;
}
#container .terms p,
#container .view p {
	color: #777;
	font-size: 14px;
}
#container p.tools {
	margin: 16px 0 0;
	padding: 0 24px;
	font-size: 13px;
}
#container p.forget a,
#container p.forget a:visited {
	color: #999;
	text-decoration: none;
}
#container p.forget a:hover {
	color: #0084b4;
}